#container-header{background:#679966; border-bottom:1px solid #fff;}
#left-header{height:50px; position:relative;}
#left-header img{margin-top:5px;}
#left-header h4{position:absolute; top:5px; left:60px; color:#FDF5C6;}

#middle-header{height:50px; padding-top:10px; position:relative; border-left:1px solid #fff; border-right:1px solid #fff;}
#middle-header #text-search{font-size:0.7em; border-radius:15px; background:#515151; border-color:#515151; color:#fff; width:150px;}
#middle-header #top-menu{position:absolute; top:6px; right:20px; float:right;}
#middle-header #top-menu li{display:inline; margin:15px; font-size:1.4em;}
#middle-header #top-menu li a{color:#fff;}
#middle-header #top-menu li a:hover{color:#515151;}

#right-header{height:50px; padding-top:12px; position:relative; border-left:1px solid #fff; text-align:right;}
#right-header #link_login{color:#fff;}
#right-header #link_login:hover{color:#515151;}

#maps{width:100%; height:300px;}

#container-bar .top-bar-content{height:50px; background:#CECBE6;}
#container-bar .top-bar-content p{margin-top:10px;}
#container-bar .top-bar-content table tr th, table tr td{padding:4px;}
#container-bar .top-bar-content table input[type=text]{margin-top:12px;}
#container-bar .top-bar-content table a{color:#4559B9;}

#container-content #container-content-left #box-question{padding:7px 7px 7px 7px;}
#container-content #container-content-left #box-question span{line-height:20px;}
#container-content #container-content-left .left-menu{padding:7px 7px; border-top:1px solid #ccc; font-size:1.2em;}
#container-content #container-content-left .left-menu:hover{background:#000;}
#container-content #container-content-left .left-menu:hover a{color:#BF9751 !important;}
#container-content #container-content-left .left-menu a{color:#4563A1 !important;}

#container-content #container-content-right{background:#CDFFCC; border-left:1px solid #D2E8BF;}
#container-content #container-content-right #container-upload{padding-right:2px;}
#container-content #container-content-right #container-upload #box-upload{height:230px; background:white; border:1px solid black; margin-top:15px;}
#container-content #container-content-right #container-upload #box-upload #btn-upload{border-radius:10px; padding-top:5px; padding-bottom:5px; width:155px; display:block; margin:100px auto;}

#container-content #container-content-right #container-information{margin-top:15px;}
#container-content #container-content-right #container-information input[type=text]{border:1px solid black; width:545px;}
#container-content #container-content-right #container-information textarea{height:184px; border:1px solid black; width:545px;}

#container-content #container-content-right #container-add #btn-add{margin-left:10px; margin-top:2px; width:360px; border-radius:10px; padding-top:5px; padding-bottom:5px;}

#container-content #container-content-right #container-projects{padding:15px;}
#container-content #container-content-right #container-projects .project{background:#fff; border-radius:10px; float:left; width:255px; border:1px solid black; margin-right:15px; margin-bottom:15px;}
#container-content #container-content-right #container-projects .project .title{padding:8px;}
#container-content #container-content-right #container-projects .project .project-info{border-bottom:1px solid #ccc; padding:8px; font-size:0.8em;}
#container-content #container-content-right #container-projects .project .project-desc{border-bottom:1px solid #ccc; padding:3px 8px 5px;}
#container-content #container-content-right #container-projects .project .project-desc span{font-size:0.8em; line-height:18px;}
#container-content #container-content-right #container-projects .project .project-bottom .rating{border-right:1px solid #ccc; float:left; width:180px; height:35px; text-align:center; padding-top:8px;}
#container-content #container-content-right #container-projects .project .project-bottom .detail{float:right; width:70px; height:35px; text-align:center; padding-top:8px;}

#container-content #container-content-right #container-project-detail{margin:15px; border-radius:5px; border:1px solid black; background:#fff; padding:10px;}
#container-content #container-content-right #container-project-detail #project-thumbnail{width:380px; float:left;}
#container-content #container-content-right #container-project-detail #project-detail{width:610px; float:right;}
#container-content #container-content-right #container-project-detail #project-detail #image-tree{float:left;}
#container-content #container-content-right #container-project-detail #project-detail #project-title{float:left; margin-top:3px; margin-left:8px; margin-right:8px;}
#container-content #container-content-right #container-project-detail #project-detail #project-title a{font-size:1.6em; margin-top:5px; color:#4563A1 !important;}
#container-content #container-content-right #container-project-detail #project-detail #image-star{float:left; margin-top:2px;}
#container-content #container-content-right #container-project-detail #project-detail #image-back{float:right;}
#container-content #container-content-right #container-project-detail #project-detail #project-information{clear:both; font-size:0.8em; padding-top:5px;}
#container-content #container-content-right #container-project-detail #project-detail #project-information span{color:#999;}
#container-content #container-content-right #container-project-detail #project-detail #project-description{margin-top:10px; width:570px;}
#container-content #container-content-right #container-project-detail #project-detail #project-description p{line-height:20px; margin-bottom:10px;}
#container-content #container-content-right #container-project-detail #project-detail #project-other #join-project{float:left;}
#container-content #container-content-right #container-project-detail #project-detail #project-other #join-project a{border-radius:5px;}
#container-content #container-content-right #container-project-detail #project-detail #project-other #social-media{}
#container-content #container-content-right #container-project-detail #project-detail #project-other #rating{float:right; margin-right:20px;}

#container-content #container-content-right #container-project-detail #box-other-information{clear:both; padding:15px; height:55px;}
#container-content #container-content-right #container-project-detail #box-other-information #box-other{border-radius:5px; padding:7px; width:120px; text-align:center; background:#448BCB; color:#fff; font-size:0.9em; float:left; margin-right:10px;}
#container-content #container-content-right #container-project-detail #box-other-information #box-other span{background:#fff; color:#448BCB; border-radius:8px; font-size:0.7em; padding:2px; font-weight:bold; position:relative; top:-2px;}
#container-content #container-content-right #container-project-detail #box-facebook-comment{clear:both; width:700px; margin:8px auto; text-align:center;}

#container-project{padding:15px;}
#container-project #box-title{height:35px;}
#container-project #box-title #title{float:left;}
#container-project #box-title #title span{font-size:1.8em;}
#container-project #box-title #star{float:left; margin-left:10px;}
#container-project #box-project-information{font-size:0.8em;}
#container-project #box-project-information span{color:#999;}
#container-project #box-project-description{margin-top:8px;}
#container-project #box-project-description p{line-height:20px; font-size:0.9em;}
#container-project #box-project-order-information{margin-top:10px; height:30px;}
#container-project #box-project-other-information #box-join-project{float:left;}
#container-project #box-project-other-information #box-join-project a{border-radius:5px;}
#container-project #box-project-other-information #social-media{float:left; margin-left:90px;}
#container-project #box-project-other-information #rating{float:right; margin-right:20px;}
