<!DOCTYPE html>
<html>
<head>
	<title>Weeverse</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"><!-- Leave this empty --></li>
		</ul>
	</nav>
	<%= yield %>

</body>
</html>
